.columna {
    width: 450px;
    margin: auto;
}

.data {
    font-size: 0.9em;
    color: #888;
    margin-top: 5px;
}

.autor {
    font-size: 0.9em;
    color: #555;
    margin-top: 5px;
}

.info {
    display: flex;
    gap: 20px;
    margin-top: 10px;
    justify-content: flex-start;
}

h1 {
    color: darkred;
    font-family: 'Archivo Black', sans-serif;
    font-size: 32px;
}

a {
    color: purple;
}